docker.enabled = true

params {
  reads = false
  reads_folder = false
  reads_extension = "fastq"
  reads_prefix = "*"
  accession = false
  samples = false
  pairedEnd = false
  skip_fastqc = false
  skip_multiqc = false
  bam = false
  intervals = false
  outdir = "./results"
}

/*
 * -----------------------------------------------------
 *  Example Nextflow config file for using AWS-iGenomes
 * -----------------------------------------------------
 * Copy and paste the reference types that your pipeline needs.
 * You can use the following code in your pipeline to get the paths:
 *
 *     params.gtf = params.genome ? params.genomes[ params.genome ].gtf ?: false : false
 *     if (params.gtf) {
 *         Channel.fromPath(params.gtf)
 *                .ifEmpty { exit 1, "GTF annotation file not found: ${params.gtf}" }
 *                .into { my_gtf_channel }
 *     }
 *
 * The user can then specify --genome [key] or --gtf [path]
 *
 * If the references are synced to your local cluster, you can use a parallel config
 * file for local files.
 * For a working example of this, see https://github.com/SciLifeLab/NGI-RNAseq
 *
 * NB: Not all available references are listed here! eg. AbundantSequences,
 * individual Chromosomes, SmallRNA, Variation and others.
 */


params {
  // Command-line genome key
  genome = false
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'hg19' {
      fasta               = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa'
      fai                 = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai'
      dict                = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.dict'
      dbsnp_gz            = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/dbsnp_138.hg19.vcf.gz'
      dbsnp_idx_gz        = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/dbsnp_138.hg19.vcf.idx.gz'
      golden_indel_gz     = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz'
      golden_indel_idx_gz = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.idx.gz'
      hapmap_gz           = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/hapmap_3.3.hg19.sites.vcf.gz'
      hapmap_idx_gz       = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/hapmap_3.3.hg19.sites.vcf.idx.gz'
      omni_gz             = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/1000G_omni2.5.hg19.sites.vcf.gz'
      omni_idx_gz         = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/1000G_omni2.5.hg19.sites.vcf.idx.gz'
      phase1_snps_gz      = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/1000G_phase1.snps.high_confidence.hg19.sites.vcf.gz'
      phase1_snps_idx_gz  = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/hg19/1000G_phase1.snps.high_confidence.hg19.sites.vcf.idx.gz'
      bwa_index_amb       = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa.amb'
      bwa_index_ann       = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa.ann'
      bwa_index_bwt       = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa.bwt'
      bwa_index_pac       = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa.pac'
      bwa_index_sa        = 's3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa.sa'
    }
    'GRCh37' {
      fasta               = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta'
      fai                 = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.fai'
      dict                = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.dict'
      dbsnp_gz            = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf'
      dbsnp_idx_gz        = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf.idx'
      golden_indel_gz     = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.b37.vcf'
      golden_indel_idx_gz = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.b37.vcf.idx'
      hapmap_gz           = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/b37/hapmap_3.3.b37.vcf.gz'
      hapmap_idx_gz       = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/b37/hapmap_3.3.b37.vcf.idx.gz'
      omni_gz             = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/1000G_omni2.5.b37.vcf.gz'
      omni_idx_gz         = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/1000G_omni2.5.b37.vcf.idx.gz'
      phase1_snps_gz      = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/1000G_phase1.indels.b37.vcf'
      phase1_snps_idx_gz  = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/1000G_phase1.indels.b37.vcf.idx'
      bwa_index_amb       = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.amb'
      bwa_index_ann       = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.ann'
      bwa_index_bwt       = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.bwt'
      bwa_index_pac       = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.pac'
      bwa_index_sa        = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.sa'
    }
    'GRCh37chr20' {
      fasta               = 'chr20_testdata/human_g1k_v37_chr20.fasta'
      fai                 = 'chr20_testdata/human_g1k_v37_chr20.fasta.fai'
      dict                = 'chr20_testdata/human_g1k_v37_chr20.dict'
      dbsnp_gz            = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf'
      dbsnp_idx_gz        = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf.idx'
      golden_indel_gz     = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.b37.vcf'
      golden_indel_idx_gz = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.b37.vcf.idx'
      hapmap_gz           = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/b37/hapmap_3.3.b37.vcf.gz'
      hapmap_idx_gz       = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/b37/hapmap_3.3.b37.vcf.idx.gz'
      omni_gz             = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/1000G_omni2.5.b37.vcf.gz'
      omni_idx_gz         = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/1000G_omni2.5.b37.vcf.idx.gz'
      phase1_snps_gz      = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/1000G_phase1.indels.b37.vcf'
      phase1_snps_idx_gz  = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Annotation/GATKBundle/1000G_phase1.indels.b37.vcf.idx'
      bwa_index_amb       = 'chr20_testdata/human_g1k_v37_chr20.fasta.amb'
      bwa_index_ann       = 'chr20_testdata/human_g1k_v37_chr20.fasta.ann'
      bwa_index_bwt       = 'chr20_testdata/human_g1k_v37_chr20.fasta.bwt'
      bwa_index_pac       = 'chr20_testdata/human_g1k_v37_chr20.fasta.pac'
      bwa_index_sa        = 'chr20_testdata/human_g1k_v37_chr20.fasta.sa'
    }
  }
}